* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #352f44;
  max-width: 100vw;
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-areas:
    "logo search menu"
    "gallery gallery gallery"
    "contact contact contact"
    "footer footer footer";
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: auto minmax(200px, 1fr) 80px;
  color: white;

  @media (min-width: 1024px) {
    grid-template-areas:
      "logo gallery"
      "search gallery"
      "menu gallery"
      ". gallery"
      "contact gallery"
      "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr auto auto;
  }

  //kontener
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
}

.logo {
  grid-area: logo;
  height: 100px;

  .logo-img {
    height: 100%;
  }
}

.search {
  grid-area: search;
  align-self: center;

  .fg--search {
    background: white;
    position: relative;
    width: 90%;
    margin: 10px auto;
  }

  .fg--search input {
    width: 100%;
    padding: 10px 60px 10px 10px;
    display: block;
  }

  .fg--search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px;
    z-index: 2;
  }

  .fg--search input:focus + button .fa-search {
    color: rgb(10, 10, 173);
  }
}

.menu {
  grid-area: menu;
  align-self: center;
  justify-self: center;
  @media (min-width: 1024px) {
    align-self: stretch;
    justify-self: stretch;
  }
  .mobile-bars {
    font-size: 40px;
    position: relative;
    @media (min-width: 1024px) {
      display: none;
    }
  }

  .container {
    display: none;
    font-family: "Raleway", sans-serif;
    color: #fff;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #111;
    border-radius: 4px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.75);
    @media (min-width: 1024px) {
      display: block;
    }
  }

  .show {
    display: block;
    position: fixed;
    top: 100px;
    right: 10px;
    width: 30vw;
  }

  .link {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    position: relative;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
  }

  .link:after {
    content: "";
    position: absolute;
    width: 80%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    bottom: 50%;
    left: -100%;
    transition-delay: all 0.5s;
    transition: all 0.5s;
  }

  .link:hover:after,
  .link.hover:after {
    left: 100%;
  }

  .link .text {
    text-shadow: 0px -40px 0px rgba(255, 255, 255, 1);
    transition: all 0.75s;
    transform: translateY(100%) translateZ(0);
    transition-delay: all 0.25s;
  }

  .link:hover .text,
  .link.hover .text {
    text-shadow: 0px -40px 0px rgba(255, 255, 255, 0);
    transform: translateY(0%) translateZ(0) scale(1.1);
    font-weight: 600;
  }
}

.gallery {
  grid-area: gallery;
  background-color: black;

  //kontener
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
  gap: 15px;
  padding: 15px;

  h1 {
    grid-column: 1/-1;
    text-align: center;
    background-color: rgba(54, 53, 53, 0.384);
    padding: 10px;
  }

  img {
    max-width: 100%;
  }
}

.contact {
  grid-area: contact;
  padding: 10px;

  * {
    display: block;
  }

  p {
    text-align: center;
  }

  form .form-control {
    margin: 0 auto;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
  }

  button {
    display: block;
    margin: 10px auto;
  }
}

.footer {
  grid-area: footer;
  background-color: #0c0a0f75;
}

.footer-basic {
  padding: 40px 0;
  color: white;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
